* {
  margin: 0px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

/* TOP BAR OF THE PAGE */
.topbar {
  background-color: white;
  display: flex;
  align-items: center;
  height: 6rem;
  justify-content: space-evenly;
}

.logo-container {
  height: 5rem;
  width: 240px;
  top: 0;
}

.logo {
  height: 5rem;
  width: 15rem;
  border: #f7f7f7;
  border-radius: 70px;
}

.add-find {
  display: flex;
  margin: 3px 0px 5px 0px;
  position: relative;
  top: 0;
}

.add-find .add {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 1.5rem;
  color: black;
  padding: 1rem;
  margin: 0 2rem;
  left: 0;
  top: 0.4rem;
  bottom: 0;
  border-radius: 0.5rem;
}

.add-find .find {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 1.5rem;
  color: black;
  padding: 1rem;
  margin: 0 1.5rem;
  left: 1rem;
  top: 0.4rem;
  border-radius: 0.5rem;
}


.last-top {
  margin-left: 5rem;
}

.last-top ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.last-top ul li {
  list-style: none;
  justify-content: space-evenly;
}

.last-top ul li .account {
  position: relative;
  top: 0.4rem;
  margin: 5px;
  padding: 2px;
  height: 1rem;
  font-size: 1.5rem;
  color: rgb(97, 97, 238);
}

.last-top ul li .account:hover {
  color: #1606f5;
}

.last-top ul li .login {
  margin: 0px 5px 0px 4px;
  padding: 0.8rem;
  color: white;
  background-color: lightgreen;
  border-radius: 0.5rem;
  position: relative;
  top: 0.4rem;
  left: 1rem;
}

.last-top ul li .login:hover {
  background-color: rgb(32, 236, 32);
}

.last-top ul li .logout {
  margin: 0px 5px 0px 4px;
  padding: 0.8rem;
  color: white;
  background-color: rgb(233, 88, 88);
  border-radius: 0.5rem;
  position: relative;
  top: 0.4rem;
  left: 1rem;
}

.last-top ul li .logout:hover {
  background-color: rgb(247, 7, 7);
}

/* NAVIGATION BAR OF THE PAGE */
.navbar {
  background-color: black;
  height: 60px;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navitems li {
  list-style: none;
  padding: 20px;
}

.navitems li a {
  color: white;
  font-weight: bold;
}

.navitems li a:hover {
  color: #ff5a3c;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .add-find,
  .last-top {
    margin-left: 0;
  }
  .navitems li {
    float: none;
  }
  .navitems li.icon {
    display: inline-block;
  }
  .navitems li a {
    display: none;
  }
  .navitems.responsive {
    display: block;
  }
  .navitems.responsive li {
    float: none;
    display: block;
    text-align: center;
  }
}

/* HERO SECTION */
.herosec {
  background-image: url("myroom.jpg");
  background-size: cover;
  height: 28rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%;
  height: 4rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchinput {
  width: 80rem;
  border: none;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  outline: 0;
}

.searchbtn {
  height: 52px;
  width: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchbtn i {
  color: gray;
  font-size: 1.2rem;
  padding: 2rem;
}

/* FEATURED PROPERTY SECTION */
.feat-introbox {
  margin-top: 5rem;
}

.feat-introbox .feat-head {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feat-introbox .feat-head #head {
  font-size: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.feat-introbox .feat-head #content {
  margin: 2rem 5rem;
}

.featured .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1rem 5rem 5rem 5rem;
  background-color: #fff;
}

.featured .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 25rem;
  width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  flex: 1 1 18rem;
}

.featured .box-container .box .image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 12rem;
}

.featured .box-container .box .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.featured .box-container .box:hover .image-container img {
  transform: scale(1.1);
}

.featured .box-container .box .image-container .info {
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
}

.featured .box-container .box .image-container .info h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}

.featured .box-container .box .image-container .icon {
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: flex;
}

.featured .box-container .box .image-container .icon a {
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  padding: 0.7rem;
}

.featured .box-container .box .content {
  padding: 0.5rem;
}

.featured .box-container .box .price {
  display: flex;
  align-items: center;
}

.featured .box-container .box .price h3 {
  color: orangered;
  font-size: 1rem;
  margin-right: auto;
}

.featured .box-container .box .price a {
  color: #666;
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  height: 1rem;
}

.featured .box-container .box .price a:hover {
  background-color: orangered;
}

.featured .box-container .box .location {
  margin-left: 5rem;
  padding: 0.5rem;
}

.featured .box-container .box .location h3 {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.featured .box-container .box .location p {
  padding-top: 0.3rem;
  margin-left: 0.8rem;
}

.featured .box-container .box .detail {
  display: flex;
  margin-top: 0.2rem;
}

.featured .box-container .box .detail h3 {
  margin: auto;
  padding: 0.3rem;
  font-size: 1rem;
  color: #666;
}

.featured .box-container .box .buttons {
  display: flex;
  margin: 1rem;
  margin-top: 1.5rem;
}

.featured .box-container .box .buttons button {
  margin: auto;
  border: solid 1px white;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: #f76b52;
}

.featured .box-container .box .buttons button:hover {
  background-color: #f12e0c;
}
